<html>
    <head>
        <title>playlist</title>
    </head>
    <body>
        <h1>Χατζηφραγκέτα</h1>
        <ul><li><a href=https://www.youtube.com/watch?v=W9IS7aPfvhs >Τα ξαναφτιάξαμε</a></li></ul>
        <ul><li><a href=https://www.youtube.com/watch?v=wbQTMfk_3vk>Για λόγους ταξικούς</a></li></ul>
        <ul><li><a href=https://www.youtube.com/watch?v=5TcqGG-rRiI>Ταξικό</a></li></ul>
        <ul><li><a href=https://www.youtube.com/watch?v=st8rbIhbYAA>Καλοκαιρινό</a> </li></ul>
        <ul><li><a href=https://www.youtube.com/watch?v=GiWp0Kgg2d8>Ο δάσκαλος και εγώ</a></li></ul>
        <ul><li><a href=https://www.youtube.com/watch?v=zsbmGdMDYNE>Πατητές και μακροβούτια</a></li></ul>
        <ul><li><a href=https://www.youtube.com/watch?v=wdTDko6g_Dc>Η μπαλάντα της βλαμμένης</a></li></ul>
        <ul><li><a href=https://www.youtube.com/watch?v=mW8iX_YoDjY>Σαν ποίημα σουρεάλ</a></li></ul>
        <ul><li><a href=https://www.youtube.com/watch?v=3V82n8dhfQs>Επιστροφή-Καταστροφή (καλοροφέρ)</a></li></ul>
        <ul><li><a href=https://www.youtube.com/watch?v=I0BrWXarVZU>Το σχολείο</a></li></ul>
        <ul><li><a href=https://www.youtube.com/watch?v=BfSLvdwIpbw>Λιώνω</a></li></ul>
        <ul><li><a href=https://www.youtube.com/watch?v=WerdL5JJMRY>Αμοργός 2005</a></li></ul>
    </body>
</html>